@charset "utf-8";
body {
	background-color: #333333;
	font-size: 72px;
	font-style: normal;
	font-family: "微軟正黑體";
	color: #CCC;
}

body, td, th {
	color: #CCCCCC;
}

h1, h2 {
	color: #663300;
}

h3, h4, h5, h6 {
	color: #996633;
}

a {
  color: #336600;
}
